/* tiny css reset */
html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: inherit;
  box-sizing: border-box;
}

body{
  background: url(./background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 50px;
  font-weight: 600;
}

header{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div{
  display: block;
  position: relative;
}

nav{
  margin-left: 15px;
}

i{
  color: black;
  transition: all 0.3s ease;
}

i:hover{
  color: white;
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

a {
  text-decoration: none;
}

nav a{
  margin: 5px;
}

#zoo-canvas{
  width: 480px;
  height: 640px;
  z-index: 1;
}

#zoo-canvas2{
  width: 480px;
  height: 640px;
}

.center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 500; right: 0;
}
